body {
    padding: 0;
    text-align: left;
    background-image: url(https://www.sky.at/static/img/serienhighlights/sky_22-10_the_white_lotus_S2_sub_l.jpg);
    background-position-x: center;
    background-position-y: -10px;
    background-repeat: no-repeat;
    background-size: 100vw;
    background-color: #F3740D;
    font-family: 'Roboto';font-size: 22px;

  }


/* SHARED */

  #game-splash, #game, #game-over, #game-intro {
    width:600px;
    height:600px;
    padding: 200px 0% 200px;
    margin: 0 auto;
  }

  #footer{
    width:600px;
    height:80px;
    /* padding: 20px 10px; */
    margin: 0 auto;
  }

  #footer a{
    text-decoration: none;
    color:black;
  }

  #footer p{
    font-size:10px;
    text-align: center;
  }

  #section-header, #section-main, #section-game-over-main, #game-over-ctn{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width:100%;

}

/* SPLASH */

    .logo {
    width: 150px;
    padding:30px;
    margin: 0 auto;
  }

  #header-image-ctn{
    width:200px;
    padding:10px;
  }

  #name-of-game{
    padding:10px 20px;
    font-size: 18px;
  }
  
  #name-of-game{
    width: 100%;
    background-color: #5CD2A1;
  }
  
  #instructions{
    width:400px;
    padding:20px;
    background-color: #f28735;
  }

 

  #main-image-ctn{
    width:300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f28735;
  }
  
  #game-splash p, #pointsInfo, #game-over {
    font-size: 12px;
    font-family: 'Roboto';
  }

 #pointsInfo{
  background:#ea8e48;
  padding:20px;
 }
 .img20{
  width:20px;
  padding:10px;
 }
 .img40{
  width:40px;
 }
 .img50{
  width:50px;
 }

 input{
  font-size:16px;
  line-height: 16px;
 }
  
  .pointsObjects{
    background-color: white;
    padding: 6px 0;
    
  }

  .pointsObjects span:first-of-type{
    background-color: #138c7f;
    color:white;
    padding: 6px;
  }



  #section-footer{
    display:flex;
    justify-content: space-between;
  }


/* GAME INTRO */

#intro-image-ctn{
     /* background-image: url("https://www.sky.at/static/img/serienhighlights/sky_22-10_the_white_lotus_S2_sub_l.jpg") */
     background-image: url("https://im2.ezgif.com/tmp/ezgif-2-ba55348d5b.webp")
    background-size:100%;
    background-repeat: none;
    height:100%;
    width:100%;
    display:flex; 
    flex-direction: column;

    
}
  
  body button {
    font-size: 15px;
    background-color: #5CD2A1;
    color: #fff;
    padding: 10px 20px;
    border: 0;
    box-shadow: 0;
    border-radius: 5px;

    border: #138C7F solid 1px;
  }
  
  .toggle {
    background-color: #138C7F;
    border: #5CD2A1 solid 1px;
  }


  /* GAME */

#scoreBar, #gameNotes{
    background-color: #5CD2A1;
    padding: 20px;
    display:flex;
    justify-content: space-between;
    font-size:16px;
    align-items: center;
}
  
/* GAME OVER */

#game-over-ctn{
 background-color: #f28735;
 padding:20px;
 width:600px;
}

#score-ctn{
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.score-text{
  font-size:22px;
}

#high-score-list{
  /* list-style:none; 
  padding-left:0;*/
  margin-bottom:5px;
}

#high-scores{
  padding: 0px 0px 0px 10px;
}
.high-score{

  color:black;
  background-color: #a9d8c4;
  padding:5px 10px;
}

.high-score:nth-child(2n){
  background-color: #f4d7b5;
}

#game-over-image{
  width:400px;
  padding-bottom:20px;
}

.score-acc{
  font-size: 20px;
  line-height: 20px;
  background-color: #a9d8c4;
  padding:10px 30px;
  color:#138c7f;
}
#final-score{
  font-size: 20px;
  line-height: 20px;
  background-color: #138c7f;
  padding:10px 30px;
  color:#fff;
}

#my-score{
  width:400px
}

#game-over-img{
  width:400px;
  padding-bottom:25px;
}

#collisions img{
  width:30px;
}

#collisions{
  display:flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color:#EA8E48;
  padding:20px;
}

@media only screen and (max-width: 600px) {



}